::-webkit-scrollbar {
  width: 5px;
  height: 0;
  background-color: #333;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif !important;
}

.navbar {
  padding: 16px 0 !important;
}

.bg {
  background: #077cb3;
}
.main-navbar-light {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  top: 10px;
}
/*====End of Navabr==*/
/*====Hero Section===*/
.hero-wrap {
  width: 100%;
  height: calc(100vh - 72px);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: top center;
  background-image: url("./assets//Images/banner-main.png");
  z-index: 0;
}
.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.1;
  /* background: #077cb3; */
  height: calc(100vh - 72px);
}
.hero-wrap .main-text {
  height: calc(100vh - 72px) !important;
}
.main-text h1 {
  font-size: 60px;
  color: #fff;
  line-height: 1.1;
  font-weight: bold;
}
.main-text p {
  line-height: 1.5;
  color: #fff;
}
.btn-hero {
  background-color: #030157 !important;
  color: #fff !important;
  margin-right: 5px;
  margin-left: 5px;
  animation: skew 3s infinite;
  animation-direction: normal;
  transform: skew(20deg);
  animation-direction: alternate;
  padding: 5px 17px;
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
/*====End of Hero Section===*/
.btn-search {
  background: #021633 !important;
  border: 2px solid #021633;
  color: #fff !important;
  margin-left: 3px !important;
}
.btn-search:hover {
  border: 2px solid #021633;
  background: transparent;
  color: #021633;
}
.section-search {
  background: #018ca5;
}

@media (min-width: 768px) {
  .tabulation-search {
    margin-top: -60px;
  }
}

.tab-search .nav-pills p {
  margin-bottom: 0;
}

.tab-search .nav-pills .nav-link {
  float: left;
  border-radius: 0;
  margin-bottom: 0;
  background: white;
}
.tab-search .nav-pills .nav-link.active {
  background: #5f9fff;
}
@media (min-width: 768px) {
  .tab-search .nav-pills .nav-link.active {
    margin-top: -10px;
  }
}
@media (max-width: 767.98px) {
  .tab-search .nav-pills .nav-link {
    display: block;
    width: 100%;
  }
}
/*====Welcome Section====*/
.heading-section h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.img-wrap .effect {
  position: relative;
  margin-bottom: 0;
  display: block;
}
.img-wrap .effect:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: #011525;
  transition: 0.3s all ease-in-out;
}
.img-wrap:hover .effect:after {
  right: -10px;
  bottom: -10px;
  position: absolute;
}
.btn-about {
  background-color: #030157 !important;
  color: #fff !important;
  margin-right: 5px;
  margin-left: 5px;
  animation: skew 3s infinite;
  animation-direction: normal;
  transform: skew(20deg);
  animation-direction: alternate;
  padding: 5px 17px;
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
/*==========Popular Places===========*/
/*----Popular Places---*/
.popular {
  background-image: url(https://i.postimg.cc/mgQkS98s/hero-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 180px;
  padding-bottom: 340px;
}
.popular:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(26, 144, 255, 0.5), rgba(236, 5, 236, 0.4)),
    url(./images/hero-2.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}
.all-image {
  padding-bottom: 75px;
  position: relative;
  margin-top: -295px;
}
.all-image .single-img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.all-image .single-img .img-thumb {
  height: 410px;
}
.all-image .single-img .img-thumb img {
  width: 100%;
  height: 100%;
}
.all-image .single-img .img-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(2, 58, 110, 0.6);
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
}
.all-image .single-img .img-hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.all-image .single-img .img-hover h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.all-image .single-img:hover .img-hover {
  transform: translateX(0%);
  opacity: 1;
}

/*==========End of Popular Places===========*/
/*========== Services section===========*/
.services .icon-circle {
  text-align: center;
  padding: 40px 20px;
  transition: all ease-in-out 0.3s;
  box-shadow: 2px 4px rgba(19, 19, 19, 0.5);
}
.services .icon-circle.purple {
  background: #3e0283;
  color: #fff;
}
.services .icon-circle.pink {
  background: #c405ca;
  color: #fff;
}
.services .icon-circle.yellow {
  background: #f7a91a;
  color: #fff;
}
.services .icon-circle.blue {
  background: #021633;
  color: #fff;
}
.services .icon-circle .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #fff;
}
.services .icon-circle .icon i {
  font-size: 28px;
}
.services .icon-circle h4 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-circle p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-circle:hover {
  border-color: #025277;
  box-shadow: 0px 0 25px 0 rgba(3, 75, 122, 0.1);
}
.services .icon-circle:hover .icon {
  color: #fff;
  background: #004299;
}
/*==========End of Services section===========*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}
.team .member .social a {
  transition: color 0.3s;
  color: #000;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}
.team .member .social a:hover {
  color: #2181ff;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  color: #000;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: lighter;
  color: #000;
}

.team .member .member-info p {
  font-style: italic;
  font-style: 15px;
  line-height: 26px;
  color: #000;
}

.team .member:hover .social {
  opacity: 1;
}
/*======Package section==========*/
.package {
  position: relative;
  z-index: 1;
}
.package:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 46%;
  content: "";
  background-color: #02acf0;
}
.package .package-1 {
  position: relative;
  z-index: 1;
  background-color: #02acf0;
}
@media (max-width: 576px) {
  .package .package-1 {
    margin-bottom: 250px;
  }
}
.package .package-1 .package-text {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 271px;
  background: #02acf0;
  padding: 35px 22px;
  box-shadow: 0px 0px 0px 10px rgba(2, 3, 63, 0.5);
  margin: 10px;
}
@media (max-width: 576px) {
  .package .package-1 .package-text {
    top: 50%;
  }
}
.package .package-1 .package-text p {
  color: #fff;
  margin-top: 35px;
}
.package .package-1 .package-text .btn-package {
  margin-top: 22px;
}
.btn-package {
  background: #030157;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
}
/*=======End of package section=====*/
/*======= historical places section=====*/
.historical-places {
  padding-top: 130px;
  padding-bottom: 140px;
  background: #f7fafd;
}
.historical-places .single-dest {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 30px;
}
.historical-places .single-dest .thumb {
  position: relative;
  overflow: hidden;
}
.historical-places .single-dest .thumb img {
  width: 100%;
}
.historical-places .single-dest .thumb .price {
  position: absolute;
  background: #02acf0;
  padding: 7px 18px 4px 18px;
  display: inline-block;
  top: 20px;
  left: 20px;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.historical-places .single-dest .dest-info {
  padding: 27px 20px 25px 20px;
}
.historical-places .single-dest .dest-info h3 {
  font-size: 22px;
  font-weight: bold;
  color: #040e27;
  margin-bottom: 0;
  transition: 0.3s;
}
.historical-places .single-dest .dest-info p {
  font-size: 14px;
  font-weight: lighter;
  color: #000;
  margin-top: 2px;
  margin-bottom: 7px;
}
.historical-places .single-dest .dest-info .rating span i {
  font-size: 12px;
  color: #f88408;
}
.historical-places .single-dest .dest-info .rating span a {
  font-size: 14px;
  color: #000;
  margin-left: 5px;
}
.historical-places .single-dest .dest-info .rating .days {
  font-size: 14px;
  font-weight: light;
  color: #000;
}
.historical-places .single-dest .dest-info .rating .days i {
  margin-right: 8px;
}
.historical-places .single-dest .dest-info .rating .days a {
  font-size: 14px;
  color: #000;
}
.historical-places .single-dest:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.historical-places .single-dest:hover .dest-info h3 {
  color: #030942;
}
.historical-places .single-dest:hover .thumb .price {
  background: #0292f1;
}
.historical-places .btn-hist {
  margin-top: 10px;
}
.btn-hist {
  background-color: #030157 !important;
  color: #fff !important;
  margin-right: 5px;
  margin-left: 5px;
  animation: skew 3s infinite;
  animation-direction: normal;
  transform: skew(20deg);
  animation-direction: alternate;
  padding: 3px 3px;
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
/*=======End of historical places section=====*/
/*======Testimonial section===*/
.testimonial-section {
  padding-bottom: 60px;
}
.testimonial-section .section-title h2 {
  font-weight: 60px;
  color: #000;
  margin-top: 0;
}
.testimonial-item {
  margin-bottom: 40px;
}
.testimonial-item .test-date {
  font-size: 11px;
  letter-spacing: 1.2px;
  color: #242424;
  opacity: 0.5;
  font-weight: 600;
  line-height: 36px;
}
.testimonial-item h4 {
  color: #242424;
  font-weight: 600;
  margin-bottom: 6px;
}
.testimonial-item .rating {
  margin-bottom: 15px;
}
.testimonial-item .rating i {
  color: #ed8a19;
}
.testimonial-item p {
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.testimonial-item .customer {
  overflow: hidden;
}
.testimonial-item .customer .customer-photo {
  float: left;
  margin-right: 18px;
}
.testimonial-item .customer .customer-photo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.testimonial-item .customer .test-text {
  float: left;
  padding-top: 5px;
}
.testimonial-item .customer .test-text h6 {
  color: #033e55;
  font-weight: 600;
  line-height: 24px;
}
.testimonial-item .customer .test-text h6 span {
  display: block;
  font-size: 12px;
  color: #242424;
  letter-spacing: 0.2px;
}
/*=====End of testimonial section===*/
/*=====blog section===*/
.blog-section {
  padding-bottom: 50px;
}
.single-blog {
  margin-bottom: 42px;
}
.single-blog img {
  min-width: 100%;
  margin-bottom: 30px;
}
.single-blog .blog-detail {
  margin-bottom: 10px;
}
.single-blog .blog-detail .blog-detail {
  font-size: 16px;
  color: #030942;
  display: inline-block;
  margin-right: 8px;
}
.single-blog .blog-detail .tag {
  font-size: 16px;
  color: #030942;
}
.single-blog h4 a {
  color: #030942;
  font-weight: bold;
  line-height: 30px;
}
/*=====End of blog section===*/
/*=====Contact section===*/
.contact .icon-box {
  color: #030942;
  text-align: center;
  box-shadow: 0 0 15px rgba(2, 81, 160, 0.6);
  padding: 20px 0 30px 0;
}
.contact .icon-box i.fab {
  font-size: 20px;
  color: #0292f1;
  border-radius: 50%;
  padding: 8px;
  background: #030942;
}
.contact .icon-box h3 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin: 10px 0;
}
.contact .icon-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.contact .social-links a {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #030942;
}
.contact .social-links a:hover {
  color: #fff;
  border-color: #030942;
  background: #0292f1;
}
.contact form {
  box-shadow: 0 0 15px rgba(2, 81, 160, 0.6);
  padding: 27px;
}
/*=====End of contact section===*/
.instagram .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.instagram .insta-img {
  display: block;
  height: 280px;
  position: relative;
}
.instagram .insta-img .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 137, 5225, 0.8);
  opacity: 0;
  transition: all 0.3s ease;
}
.instagram .insta-img:hover .icon {
  opacity: 1;
}
.instagram .heading-section h2 {
  font-size: 30px;
}
#footer {
  padding: 0 0 30px 0;
  color: #000;
  font-size: 16px;
  background: #0292f1;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #0292f1;
  text-align: center;
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: bold;
  color: #000;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 25, 41, 0.4);
  text-align: left;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #030942;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(253, 253, 253, 0.7);
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0292f1;
}
#footer .copyright {
  float: left;
  color: #000;
}
#footer .credits {
  float: right;
  font-size: 16px;
  color: #000;
}
#footer .credits a {
  color: #000;
}
@media (max-width: 575px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
}

/* Feature section */
.feature-section {
  position: relative;
  background: #f5f6f6;
  text-align: center;
}

.auto-container {
  position: static;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px;
}

.sec-title {
  position: relative;
  display: block;
  margin-bottom: 50px;
  text-align: center;
}

.sec-title p {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 28px;
  color: #808080;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2px;
  transition: all 500ms ease;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 50px;
  line-height: 60px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.feature-block-one .inner-box {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.08);
}

.feature-block-one .inner-box .image-box {
  position: relative;
  display: block;
  overflow: hidden;
}

.feature-block-one .inner-box .image-box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.feature-block-one .inner-box .image-box img {
  width: 100%;
  transform: scale(1.05);
  transition: all 500ms ease;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.feature-block-one .inner-box .lower-content {
  position: relative;
  display: block;
  padding: 60px 15px 25px 15px;
}

.feature-block-one .inner-box .lower-content .icon-box {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
}

.feature-block-one .inner-box .lower-content .icon-box {
  color: #ff7c5b;
}

.icon-1:before {
  content: "\e900";
}

.feature-block-one .inner-box .lower-content h4 {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

@media only screen and (max-width: 399px) {
  .sec-title h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 767px) {
  .sec-title {
    margin-bottom: 30px !important;
  }

  .sec-title h2 {
    font-size: 36px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 991px) {
  .feature-block-one .inner-box {
    margin-bottom: 30px;
  }
}

/* Culum Country Styles */
.tulum-section {
  position: relative;
  width: 100%;
  padding: 96px 0px 102px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.tulum-section:before {
  position: absolute;
  content: "";
  background: #091122;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  /* z-index: 1; */
}
.tulum-section .auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.tulum-section .content-box h1 {
  font-size: 50px;
  line-height: 60px;
  font-family: "Playfair Display", sans-serif;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 14px;
  position: relative;
}

.tulum-section .content-box p {
  font-size: 18px;
  color: #ffffff !important;
  font-weight: 500;
  position: relative;
}

.tulum-content {
  margin: 40px 0;
}

.tulum-content .left-text h6 {
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1em;
  color: #01aa90;
}
.tulum-content .left-text h3 {
  margin: 0px 0px 32px 0px;
  text-transform: capitalize;
  font-weight: 700;
}

.photo-gallery-sec .photo-gallery .text {
  margin-bottom: 31px;
}
.photo-gallery-sec h3 {
  display: block;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 22px;
}

.photo-gallery-sec .text p:last-child {
  margin-bottom: 0px;
  color: #808080;
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}

.photo-gallery-sec .photo-gallery .image-box {
  position: relative;
  margin: 0px -5px;
}

.photo-gallery-sec .photo-gallery .image-box .image {
  position: relative;
  float: left;
  margin: 0px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #000000;
}
.photo-gallery-sec .photo-gallery .image-box .image img {
  width: 100%;
  border-radius: 10px;
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  transition-property: all;
}

@media (max-width: 767px) {
  .photo-gallery-sec .photo-gallery .image-box {
    display: grid;
  }
}

.country-details-sec h3 {
  display: block;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 22px;
}

.country-details-sec .country-details .details-list {
  position: relative;
  display: block;
  border: 1px solid #e4e8e9;
}

.country-details-sec ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.country-details-sec .country-details .details-list li {
  position: relative;
  display: block;
  padding: 0px 30px 0px 70px;
  border-bottom: 1px solid #e4e8e9;
  font-size: 17px;
  font-weight: 500;
  color: #888888;
}

.country-details-sec .country-details .details-list li i {
  color: #ff7c5b;
}

.country-details-sec .country-details .details-list li span {
  position: relative;
  display: inline-block;
  width: 215px;
  font-size: 17px;
  color: #061a3a;
  padding: 25px 0px 24px 0px;
  font-weight: 500;
  margin-right: 40px;
  border-right: 1px solid #e4e8e9;
}
